.iio{
    margin-left: 80px;
    padding: 20px;
    margin-top: 0%;
}
.hjj{
    margin: 5px;
    border-radius: 5px;
}
.sdf{
    text-decoration: none;
    color: brown;
    margin: 20px;
    font-style: italic;
}
/* #clr1{
    margin: 0%;
    background-color: #a498da;
} */