.btt4{
  background-color: rgb(225, 126, 126);
  color: white;
  border:  1px none ;
  height: 40px;
  width: 120px;
  border-radius: 4px;
  margin-left: 1030px;
  margin-bottom: 15px;
  margin-top: 10px;
}