#he1{
    text-decoration: none;
    font-style: italic;
    color: rgb(164, 99, 225);
}
#img1{
    margin-left: 280px;
}
#btt8{
    border: none;
    width: 100px;
    height: 80px;
    background-color: rgb(202, 202, 240);
}